{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta id="article-metadata" data-articlename="{{article_name}}" data-preview="{{is_preview}}">
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/blog.css') }}">
{% endblock %}
{% block title %}{{title_text}}{% endblock %}
{% block content %}
<div class="container">
  <div class="blog-header">
    <h3 class="blog-title">{{title}}</h3>
    <p class="blog-post-meta">{{author}}</p>
    <p class="blog-post-date">{{update_time}}</p>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        {{abstract}}
        {{toc}}
        {{body}}
      </div>
      <!--            <nav>-->
      <!--                <ul class="pager">-->
      <!--                    <li><a href="#">Previous</a></li>-->
      <!--                    <li><a href="#">Next</a></li>-->
      <!--                </ul>-->
      <!--            </nav>-->
    </div><!-- /.blog-main -->
    <div class="col-md-4 blog-sidebar order-md-last order-first sans">
      <div class="sidebar-module sidebar-module-inset">
        <p><h4>Subjects</h4></p>
        <p><b>{{subject.primary_subject}}</b></p>
        {%for item in subject.secondary_subject%}
        <p>{{item}}</p>
        {%endfor%}
        <p><h4>Updated on Academus</h4></p>
        <div>{{academus_time}} UTC</div>
        <p><h4>
        <a href="https://arxiv.org/pdf/{{article_name}}.pdf" target="_blank" title="View PDF"><i
            class="fa fa-file-pdf-o"
            aria-hidden="true"></i></a>
        {% if not current_user.is_anonymous %}
        <a href="{{ url_for('user_blueprint.add_article_to_default_collection', article_name=article_name) }}"
           title="Add to collection"><i class="fa fa-plus" aria-hidden="true"></i></a>
        {% endif %}
      </h4>        </p>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
{% block script %}
<!--   Modal -->
<div id="modal-container" class="modal-class">
  <div class="modal-content">
    <span class="modal-close" onclick="closeModal()">&times;</span>
    <div class="modal-image"></div>
  </div>
</div>
<script>
      function addScroll() {
      $('table').parent().addClass('table-scroll');
      }
      addScroll();
</script>
<!--modal function-->
<script>
var modal = document.getElementById("modal-container");
var modalimage = document.querySelector(".modal-image");

function modal_figure_popup(input){
  event.preventDefault();
  modalimage.innerHTML='';
  var id = input.href.match(/#.*/)[0].replace('#','');
  var content = document.getElementById(id).closest("figure");
  console.log(content);
  modalimage.insertAdjacentHTML('afterbegin',content.innerHTML);
  modal.classList.add("fade-in");
  document.querySelector('html').classList.add("body-scroll");
}

function modal_equation_popup(input){
  event.preventDefault();
  modalimage.innerHTML='';
  var id = input.href.match(/#.*/)[0].replace('#','');
  var content = document.getElementById(id).closest("span.eqnos");
  console.log(content);
  modalimage.insertAdjacentHTML('afterbegin',content.innerHTML);
  modal.classList.add("fade-in");
  document.querySelector('html').classList.add("body-scroll");
}

function closeModal(){
  modal.classList.remove("fade-in");
  document.querySelector('html').classList.remove("body-scroll");
}

</script>
<!--modal function ends-->
<!--Async loading images-->
<script>
$(function () {
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function refresh() {
        var waiting = true;
        var retry = 0;
        while (waiting && retry < 180) {
            $.ajax({
              url: '/article/' + $('#article-metadata').data().articlename + '/status',
              type: 'get',
              dataType: 'JSON',
              success: function(response) {
                if (response.status == 'SUCCESS') {
                    waiting = false;
                    console.log("Background image ready.");
                    $.each(document.images, function(){
                        var this_image = this;
                        var asrc = $(this_image).attr('asrc') || '' ;
                        if( asrc.length > 0 ){
                            this_image.src = asrc;
                        }
                    });
                }
              },
              error: function(error) {
                console.log(error);
              }
            });
            retry += 1;
            await sleep(2000);
        }
    }
    if ($('#article-metadata').data().preview == "True"){
        refresh();
    }
})

</script>
{% endblock %}
