<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static',filename='assets/icon.png') }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162139659-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162139659-1');




  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fonts/Serif/cmun-serif.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/sans_serif.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/default.css') }}">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark blog-masthead sans">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('convert_blueprint.index_page')}}">
      <img src="{{ url_for('static',filename='assets/logo.png') }}" height="30" width="120">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if not current_user.is_anonymous %}
        <a class="nav-link active" href="{{ url_for('user_blueprint.dashboard')}}"> Dashboard</a>
        {% endif %}
      </div>
      <div class="navbar-nav ms-auto">
        {% if current_user.is_anonymous %}
        <a class="nav-link" href="#">Sign Up
          <span class="top-0 start-100 badge rounded-pill bg-secondary">
            Coming soon
          </span>
        </a>
        <a class="nav-link active" href="{{ url_for('user_blueprint.login')}}"> Login</a>
        {% else %}
        <a class="nav-link active">{{current_user['username']}}</a>
        <a class="nav-link active" href="{{ url_for('user_blueprint.logout')}}"> Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

<footer class="blog-footer sans">
  {% block footer %}
  <p>Copyright 2021 academ.us <a href="https://twitter.com/academus_main">Contact Us <i class="fa fa-twitter"></i></a>
  </p>
  {% endblock %}
</footer>
{% block script %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
