{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{title_text}}{% endblock %}
{% block content %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title sans">Dashboard</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3 sans">
      <div id="collections" data-landing-collection-id="{{landing_collection_id}}">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <form action="{{ url_for('user_blueprint.rename_collection') }}" method="post" novalidate id="rename-form" style="display: none">
            {{ form.hidden_tag() }}
              <div class="input-group">
                {{ form.name(size=256, class="form-control") }}
                {{ form.current_collection_id(class="form-control") }}
                <button type=submit class="btn btn-primary" id="rename-submit-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
              </div>
            </form>
          {% for id, collection in collections.items() %}
          <div class="collection-container">
          <div class="btn-group justify-content-between w-100" role="group" aria-label="Button group with dropdown">
            <button class="nav-link collection-tab w-100" type="button" role="tab" aria-selected="true" data-collection-id="{{id}}" data-collection-is-default="{{collection.is_default}}">{{collection.name}}</button>
              {% if collection.is_default %}
              <div class="dropdown">
                <button class="btn" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item rename-submenu disabled" href="#">Rename</a></li>
                </ul>
              </div>
              {% else %}
              <div class="dropdown">
                <button class="btn" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item rename-submenu" data-collection-id="{{id}}" href="#">Rename</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('user_blueprint.delete_collection', collection_id=id)}}">Delete Collection</a></li>
                </ul>
              </div>
              {% endif %}
          </div>
          </div>
          {% if collection.is_default %}
          <hr>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <button class="btn" type="button" ><a href="{{ url_for('user_blueprint.create_collection') }}" title="Add collection"><i class="fa fa-plus" aria-hidden="true"></i></a></button>
    </div> <!--col-->
    <div class="col-sm-9 sans">
      {% for collection_id, collection in collections.items() %}
      <div class="collection-article-list" id="{{collection_id}}">
        {% for article in collection.articles %}
        <div class="list-group">
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <a href="{{article['url']}}" target="_blank"><h5 class="mb-1">{{article['title']}}</h5></a>
              <div class="time-ago"><small class="text-muted">{{article['time_added']}}</small></div>
            </div>
            <p class="mb-1">{{article['author_str']}}</p>
            <small class="text-muted">{{article['article_name']}}</small>
            <div class="dropdown">
              <button class="btn" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('user_blueprint.remove_from_collection', article_name=article['article_name'], collection_id=collection_id) }}">Remove from collection</a></li>
                <li>
                  <a class="dropdown-item move-to-collection-item d-flex justify-content-between">Move to... <i class="fa fa-caret-right menu-expand-arrow" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu dropdown-submenu-left">
                    {% for other_id, other_collection in collections.items() %}
                      <li><a class="dropdown-item" href="{{ url_for('user_blueprint.move_from_collection', article_name=article['article_name'], from_id=collection_id, to_id=other_id) }}" >{{other_collection.name}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div> <!--col-->
  </div> <!--row-->
  <hr>
</div><!-- /.container -->

{% endblock %} <!--content-->

{% block script %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
};

</script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/js/dashboard.js') }}"></script>
{% endblock %}