{% extends "base.html" %}
{% block title %}Academus - Next generation scientific article reader{% endblock %}
{% block content %}
<!--Search background-->
<div class="home-page-outer">
  <div class="home-page-inner">
    <div>
      <img class="home-page-logo" src="{{ url_for('static',filename='assets/logo_color.png') }}">
    </div>
    <!--Form and button-->
    <form action="{{ url_for('convert_blueprint.search_result')}}" class="" method="get">
      <div class="input-group input-group-lg">
        <input autofocus="" class="form-control" name="query" placeholder="Search or type arXiv id" type="text"
               value="">
        <button class="btn btn-primary" type="submit">Go</button>
      </div>
    </form>
    <div
        data-tooltip="You can also type article id (e.g. 2001.00001) or paste arXiv abstract page URL/pdf link in the search box.">
      &#9432;
    </div>
    <!--Form and button ends-->
    <div class="home-page-slogan">
      Interactive. Intelligent.<br>The next generation scientific article reader.
    </div>
  </div>
</div><!--Search background-->
<!--New articles list-->
<div class="home-page-bottom">
  <div class="container">
    <div class="row">
      {% for field in fields %}
      <div class="col-sm-12 col-lg-6">
        <a href="{{url_for('convert_blueprint.listings', category_name = field.abbreviation)}}"
           target="_blank">{{field.field}}</a>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</div><!--New articles list-->
{% endblock %}