{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/js/listing.js') }}"></script>
{% endblock %}
{% block title %}{{title_text}}{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/blog.css') }}">
<div class="container">
  <div class="blog-header">
    <h3 class="blog-title sans">New articles on {{category_display_name}}</h3>
  </div>
    <hr>
  <div class="row">
    <div class="col-sm-8 blog-main sans">
      {% for article in articles %}
        <h3>[{{article.id}}] {{article.article_name}} </h3>
        <h3><a href="{{url_for('convert_blueprint.article_v2', article_name = article.article_name)}}" target="_blank">{{article.title}}</a></h3>
        <p class="blog-post-meta">
          {% for author in article.author %}
          <a href="#">{{author}}</a>
            {{"," if not loop.last}}
          {% endfor %}
        </p>
          <div class="blog-post">
            <p class="more">{{article.abstract}}</p>
          </div>
      <hr>
      {% endfor %}
    </div> <!--col-->
  </div> <!--row-->
</div><!-- /.container -->
{% endblock %}

{% block script %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
};
</script>
{% endblock %}