<!DOCTYPE html>
<html>
    <title>
        {{article_name}}
    </title>
    <head>
        <meta id="article-metadata" data-articlename="{{article_name}}" data-preview = "{{is_preview}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora|Martel+Sans|Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',  filename='styles/css/special_page.css') }}">
    </head>
    <body>
    <div id="content">
        <!--loader-->
        <div class="loader-wrapper">
            <p class="loader-text">Academus is preparing the article for the first use, it may take a few seconds...</p>
            <div class="progress" style="width:40%; max-width:400px; height:10px; margin:20px auto;">
                <div id="theBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
            </div>
        </div><!--loader ends-->
    </div>
        <script>
            var time = 0;
            var max_time = 15000;
            var time_step = 200;
            var counterBack = setInterval(function(){
            time += time_step;
            if(time <= max_time){
                document.getElementById("theBar").style.width = (time/max_time*100)+"%";
            } else {
               clearTimeout(counterBack);
            }
            }, time_step);
        </script>
        <script>
            $(function () {
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }

                async function refresh() {
                var waiting = true;
                var article_name = $('#article-metadata').data().articlename;
                var is_preview = $('#article-metadata').data().preview;
                while (waiting) {
                $.ajax({
                  url: '/article/' + article_name + '/status',
                  type: 'get',
                  dataType: 'JSON',
                  success: function(response) {
                    waiting = false;
                    if (response.status == 'RENDERING' || response.status == 'SUCCESS' || response.status == 'FAILED' || response.status == 'IGNORED') {
                        location.reload();
                    } else if (response.status == 'UNKNOWN'){
                        $.ajax({
                          url: '/ajax_download?article=' + article_name + '&preview=' + is_preview,
                          success: function(response) {
                            document.getElementById("theBar").style.width = "100%"
                            clearTimeout(counterBack);
                            location.reload();
                          },
                          error: function(error) {
                            location.reload();
                          }
                        });
                    }
                  },
                  error: function(error) {
                    location.reload();
                  }
                });
                await sleep(5000);
            }
          }
        refresh();
       })
        </script>
    </body>
</html>