{% extends "base.html" %}
{% block content %}
<div class="border p-4 d-flex justify-content-center mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Log In</h5>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label class="form-label">{{ form.email.label }}</label>
        {{ form.email(size=32, class="form-control") }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <label class="form-label">{{ form.password.label }}</label>
        {{ form.password(size=32, class="form-control") }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <label class="form-label">{{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label }}</label>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
      </form>
    </div>
  </div>
</div>

{% endblock %}