{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta id="article-metadata" data-articlename="{{article_name}}" data-preview="{{is_preview}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/blog.css') }}">
{% endblock %}
{% block title %}{{title_text}}{% endblock %}
{% block content %}
<div class="container">
  <div class="blog-header">
    <h3 class="blog-title">{{title}}</h3>
    <p class="blog-post-meta">{{author}}</p>
    <p class="blog-post-date">{{update_time}}</p>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8 blog-main">
      <iframe id="pdfviewer" src="https://docs.google.com/viewerng/viewer?url=https://arxiv.org/pdf/{{article_name}}.pdf&amp;embedded=true" frameborder="0" width="100%" height="1000px"></iframe>
    </div><!-- /.blog-main -->
    <div class="col-md-4 blog-sidebar order-md-last order-first sans">
      <div class="sidebar-module sidebar-module-inset">
        <p><h4>Subjects</h4></p>
        <p><b>{{subject.primary_subject}}</b></p>
        {%for item in subject.secondary_subject%}
        <p>{{item}}</p>
        {%endfor%}
        <p><h4>Updated on Academus</h4></p>
        <div>{{academus_time}} UTC</div>
        <p><h4>
        <a href="https://arxiv.org/pdf/{{article_name}}.pdf" target="_blank" title="View PDF"><i
            class="fa fa-file-pdf-o"
            aria-hidden="true"></i></a>
        {% if not current_user.is_anonymous %}
        <a href="{{ url_for('user_blueprint.add_article_to_default_collection', article_name=article_name) }}"
           title="Add to collection"><i class="fa fa-plus" aria-hidden="true"></i></a>
        {% endif %}
      </h4>        </p>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
{% block script %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
};
</script>
{% endblock %}