{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='styles/js/listing.js') }}"></script>
{% endblock %}
{% block title %}Search results for {{title_text}}{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/blog.css') }}">
<div class="container">
  <!--Form and button-->
  <div style="margin-top:20px">
    <form action="{{ url_for('convert_blueprint.search_result')}}" class="" method="get">
      <div class="input-group input-group-lg">
        <input autofocus="" class="form-control" name="query" placeholder="Search or type arXiv id" type="text"
               value="{{title_text}}">
        <button class="btn btn-primary" type="submit">Go</button>
      </div>
    </form>
  </div>
  <!--Form and button ends-->
  <div class="row">
    <div class="col-sm-8 blog-main sans">
      {% for article in articles %}
      <hr>
      <h3>[{{article.id}}] {{article.article_name}} </h3>
      <h3><a href="{{url_for('convert_blueprint.article_v2', article_name = article.article_name)}}" target="_blank">{{article.title}}</a>
      </h3>
      <p class="blog-post-meta">
        {% for author in article.author %}
        <a href="#">{{author}}</a>
        {{"," if not loop.last}}
        {% endfor %}
      </p>
      <div class="blog-post">
        <p class="more">{{article.abstract}}</p>
      </div>
      {% endfor %}
    </div> <!--col-->
  </div> <!--row-->
</div><!-- container -->
{% endblock %}

{% block script %}
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
};
</script>
{% endblock %}