html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.blog-post h1,
.blog-post .h1,
.blog-post h2,
.blog-post .h2 {
  margin-top: 0;
  font-family: "Computer Modern Serif"
  ;
  color: #333;
}

.blog-post h3,
.blog-post .h3,
.blog-post h4,
.blog-post .h4,
.blog-post h5,
.blog-post .h5,
.blog-post h6,
.blog-post .h6 {
  margin-top: 0;
  font-family: "Computer Modern Serif"
  ;
  color: #333;
  font-weight: bold;
}

.header-section-number {
  color: #a9a9a9;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #eee;
}

caption {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  text-align: left;
  border-left: 5px solid #eee;
  caption-side: bottom;
}

/*Equation & Table Scrollbar CSS*/
.math {
  overflow-x: auto;
  white-space: nowrap;
}

.math.display {
  display: block;
}

.math.display {
  overflow-x: auto;
  overflow-y: hidden;

  background:
    /* Shadow covers */
    linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 100% 0%,

    /* Shadows */
    radial-gradient(0% 50%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0%;
  background:
    /* Shadow covers */
    linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 100% 0%,

    /* Shadows */
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 100% 0%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.eqnos {
  display: block;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.modal-content .eqnos {
  padding: 20px 20px 20px 20px;
}

table {
  width: 100%;
  margin: 0px 0px 20px 0px;
}

th,
td {
  padding: 3px;
}

th {
  border-bottom: 2px solid #555;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th:first-child, td:first-child {
  border-left: none; /* remove left border of first column */
}

th:last-child, td:last-child {
  border-right: none; /* remove right border of last column */
}

td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.table-scroll {
  overflow-x: auto;
}

/*Modal styles*/
.modal-class {
  font-family: "Computer Modern Serif";
  display: block;
  position: fixed;
  z-index: 1;
  right: -100%;
  top: 0;
  width: 25%;
  height: 100%;
  overflow: auto;
  -webkit-transition: opacity 0.3s ease-in-out, right 0.3s;
  -moz-transition: opacity 0.3s ease-in-out, right 0.3s;
  -o-transition: opacity 0.3s ease-in-out, right 0.3s;
  transition: opacity 0.3s ease-in-out, right 0.3s;
}

.fade-in {
  right: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.modal-close {
  color: #aaaaaa;
  text-align: right !important;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  text-align: center;
}

.modal-image img {
  width: 100% !important;
}

.body-scroll {
  overflow: auto !important;
}

/*Modal Media Query*/
@media only screen and (max-width: 768px) {
  .modal-class {
    top: -100%;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 15px 10px;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 0.3s ease-in-out, top 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-in-out, top 0.3s ease-out;
    -o-transition: opacity 0.3s ease-in-out, top 0.3s ease-out;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-out;
  }

  .fade-in {
    top: 0;
  }

  .body-scroll {
    overflow: hidden !important;
  }

}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1270px) {
  .container {
    width: 1270px;
  }
}

/*
 * Blog name and description
 */

.blog-header {
  font-family: "Computer Modern Serif";
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.article-abstract {
  font-size: 15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 0 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Table of content*/
#TOC {
  font-size: 15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 20px;
}

#TOC ul {
  list-style-type: none;
  padding-inline-start: 10px
}

.return_to_toc {
  font-size: 15px;
  color: #999;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

.pager>li>a {
  width: 240px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  font-family: "Computer Modern Serif";
  margin-bottom: 60px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

.blog-post-meta {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
}

.blog-post p {
  text-indent: 1.5em;
  overflow-wrap: break-word;
}

.references p {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.blog-post li p {
  text-indent: 0px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Figures
 */
figcaption,
figure .caption {
  color: #555;
  padding: 10px 20px 10px 10px;
  margin: 0 0 0px;
  font-size: 14px;
  text-align: left;
  border-left: 5px solid #eee;
}

figure .caption {
  border-left: none;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img:not([style]) {
  max-height: 300px;
  max-width: 100%;
  width: auto;
}

.blog-post .subfigures p, .blog-post figure p {
  text-indent: 0px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.figure figcaption p {
  text-align: left;
  margin-left: 1em;
  text-indent: 0em;
}

a.morelink {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  outline: none;
}

.morecontent span {
  display: none;
}

/*
Citation
*/
div.csl-bib-body {}

div.csl-entry {
  clear: both;
}

.hanging div.csl-entry {
  margin-left: 2em;
  text-indent: -2em;
}

div.csl-left-margin {
  min-width: 2em;
  float: left;
}

div.csl-right-inline {
  margin-left: 1em;
  padding-left: 1em;
}

div.csl-indent {
  margin-left: 2em;
}