/*Front-page CSS*/
@media only screen and (max-width: 800px) {
    .home-page-logo{
        width: 270px !important;
    }
    .home-page-inner form {
        width: 380px;
        margin: auto;
    }

}
@media only screen and (max-width: 450px) {
    .home-page-logo{
        width: 250px !important;
    }
    
    .home-page-inner form {
        width: 290px;
        margin: auto;
        padding-bottom: 10px !important;
    }

}

body {
    font-size: 14px;
}

.container {
    color: #555;
}

.blog-masthead {
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: normal;
}
.blog-footer {
  padding: 20px 20px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #337ab7;
}

/*Blue background section*/

.home-page-outer {
   background-image: url(../bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.home-page-inner, .home-page-bottom{
    margin: auto;
    text-align: center;
}

.home-page-inner {
    max-width: 600px;
}

.home-page-logo{
    padding: 100px 0px 30px 0px; 
    width: 300px;
}

.home-page-inner form {
    padding-bottom: 10px;
}

.home-page-slogan {
    font-size: 1.5em;
    color: #555;
    padding: 0px 20px 50px 20px;
}

/*Bottom page*/
.home-page-bottom {
    margin: 20px 50px;
}


.new-title, .home-page-bottom .col-sm-12 a {
    font-size:1.8em;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    color: #555;
}

.btn-primary, .nav-link.active{
background-color:#337ab7 !important;
border: none !important;
}

.nav-link{
color: #337ab7;
}

.navbar-brand{
  padding-top: .1rem
}

/*dropdown menu*/

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 30px;
}
.dropdown-menu .dropdown-submenu-left {
  display: none;
  position: absolute;
  right: 100%;
  top: 30px;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-menu > li:hover > .dropdown-submenu-left {
  display: block;
}

.dropdown-menu .menu-expand-arrow {
  margin-top: 4px;
}

/*overwrite boostrap containter width*/
.home-page-bottom .container {
    width: 100%;
}

.front-page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    color: #333;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 2px 1px silver;
    margin-left: 20px;
    font-family:'Open Sans', sans-serif;
    white-space: pre-wrap;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: white;
    border-radius: 6px;
    padding: 10px;
    margin-left: 20px;
    font-family:'Open Sans', sans-serif;
    white-space: pre-wrap;
}

.btn-primary,.home-page-slogan, .home-page-bottom .col-sm-12, ::-webkit-input-placeholder, .input-group, .input-group-lg, .data-tooltip{
  font-family:'Open Sans', sans-serif;
}

.time-ago{
  white-space: nowrap;
}

.list-group-item {
  min-height: 120px;
  margin-bottom: 10px;
}
.sans {
  font-family:'Open Sans', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family:'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family:'Open Sans', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family:'Open Sans', sans-serif;
}

