* {
  margin: 0;
  padding: 0;
}

/*A. loading page CSS*/
.progress-bar {
  background-color: #337ab7;
}


.loader-wrapper {
	padding-top:200px;
	padding-bottom:150px;
}

.loader-text {
font-size:18px;
color: #6b6b6b;
text-align: center;
margin:auto 20px;
font-family: 'Source Sans Pro', sans-serif; 
}

.ajax-spinner-bars {
  width:35px;
  height:35px;
  position:absolute;
  left:50%;
}
.ajax-spinner-bars > div {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #25363F;
  opacity: 0.05;
  animation: fadeit 0.8s linear infinite;
}
.ajax-spinner-bars > .bar-1 {
  transform: rotate(0deg) translate(0, -12px);
  animation-delay:0.05s;
}
.ajax-spinner-bars > .bar-2 {
  transform: rotate(22.5deg) translate(0, -12px);
  animation-delay:0.1s;
}
.ajax-spinner-bars > .bar-3 {
  transform: rotate(45deg) translate(0, -12px);
  animation-delay:0.15s;
}
.ajax-spinner-bars > .bar-4 {
  transform: rotate(67.5deg) translate(0, -12px);
  animation-delay:0.2s;
}
.ajax-spinner-bars > .bar-5 {
  transform: rotate(90deg) translate(0, -12px);
  animation-delay:0.25s;
}
.ajax-spinner-bars > .bar-6 {
  transform: rotate(112.5deg) translate(0, -12px);
  animation-delay:0.3s;
}
.ajax-spinner-bars > .bar-7 {
  transform: rotate(135deg) translate(0, -12px);
  animation-delay:0.35s;
}
.ajax-spinner-bars > .bar-8 {
  transform: rotate(157.5deg) translate(0, -12px);
  animation-delay:0.4s;
}
.ajax-spinner-bars > .bar-9 {
  transform: rotate(180deg) translate(0, -12px);
  animation-delay:0.45s;
}
.ajax-spinner-bars > .bar-10 {
  transform: rotate(202.5deg) translate(0, -12px);
  animation-delay:0.5s;
}
.ajax-spinner-bars > .bar-11 {
  transform: rotate(225deg) translate(0, -12px);
  animation-delay:0.55s;
}
.ajax-spinner-bars > .bar-12 {
  transform: rotate(247.5deg) translate(0, -12px);
  animation-delay:0.6s;
}
.ajax-spinner-bars> .bar-13 {
  transform: rotate(270deg) translate(0, -12px);
  animation-delay:0.65s;
}
.ajax-spinner-bars > .bar-14 {
  transform: rotate(292.5deg) translate(0, -12px);
  animation-delay:0.7s;
}
.ajax-spinner-bars > .bar-15 {
  transform: rotate(315deg) translate(0, -12px);
  animation-delay:0.75s;
}
.ajax-spinner-bars> .bar-16 {
  transform: rotate(337.5deg) translate(0, -12px);
  animation-delay:0.8s;
}
@keyframes fadeit{
  0%{ opacity:1; }
  100%{ opacity:0;}
}


/*B. error page CSS*/
.error-wrapper {
    background-color: #f9f9f9;
    height: 100vh;

}
.error-content {
    margin: auto 20px;
    padding-top: 100px;
    text-align: center;
    
}
.oops {
    font-size:50px;
    font-family: 'Varela Round', sans-serif;
    color: #555;
}

.error-msg, .backtohome {
    font-size:20px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: #555;
}

.backtohome a:link, .backtohome a:visited {
  background-color:#555;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin: 30px auto;
}

.backtohome a:hover{
    background-color: #a1a1a1;
}

.error-wrapper img {
    width:20%;
}
