body {
  font-family: "Computer Modern Serif"/*, Georgia, "Times New Roman", Times, serif*/;
  color: #555;
}

h1, .h1,
h2, .h2 {
  margin-top: 0;
  font-family: "Computer Modern Serif"/*,"Helvetica Neue", Helvetica, Arial, sans-serif*/;
  color: #333;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Computer Modern Serif"/*,"Helvetica Neue", Helvetica, Arial, sans-serif*/;
  color: #333;
  font-weight: bold;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #eee;
}

figcaption{
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  text-align: left;
  border-left: 5px solid #eee;
}

caption {
  padding: 10px 20px;	
  margin: 0 0 20px;
  font-size: 14px;
  text-align: left;
  border-left: 5px solid #eee;
  caption-side: bottom;
}

/*C. Equation & Table Scrollbar CSS*/
.math.display {
    display: block;
    overflow: auto;
    white-space: nowrap;
}

table {
  width: 100%;
}
th, td {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}

.table-scroll {
    overflow-x:auto;
}

/*D. Sidebar Figures*/

.sidebar-module ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.sidebar-module ul > li {
  background-color: #F5F5F5;
  width: 80px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-module ul > li:hover {
   background-color: #ddd;
}
.sidebar-module ul > li.active {
   background-color: #ddd;
}

.sidebar-module ul > li >h4 {
  margin: 5px auto;
}

.nonsticky-sidebar img, .sticky-sidebar img {
    width: 100%;
    margin-bottom: 30px;
}

#sidebar-figure {
    height: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#sidebar-figure img {
    width: 100%;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1270px) {
  .container {
    width: 1270px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

shows
/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.article-abstract {
  font-size: 15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 240px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post p {
 text-indent: 25px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Figures
 */

figure {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

figure img {
  width: 75%;
}

.subfigures p {
    text-indent: 0px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.subfigures img {
  width: 75%;
}

/* Show more*/
/*a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}*/
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}